body {
    margin: 0px;
}

.header {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.header h1 {}

.header div {
	font-size: 3rem;
	font-weight: 550;
	color: lightblue;
}